{% extends "layouts/full-page.html" %}

{% set meta_title = '' %}
{% set meta_description = '' %}
{% set meta_keywords = '' %}
{% set meta_robots = 'noindex,nofollow' %}

{% set page_title = '' %}
{% set page_sub_title = '' %}
{% set quote = '' %}

{% block page %}
<div class="row">
    <div class="col-12 text-center">
        <h1>500</h1>
        <h4>We are currently experiencing high traffic on the Website.</h4>
        <p>
            <br>Please be with us while our team is working hard to resolve it.
            <br> We apologise for the inconvenience.
            <br>Thank you.
        </p>
    </div>
</div>
{% endblock %}