{% import 'macros/form.html' as form %}
{% import 'macros/path.html' as f %}

{% set active_menu_item = 'profile' %}
{% set active_side_menu = 'skill' %}

{% extends "layouts/candidate-base.html" %}

{% set page_title = 'Skills' %}
{% set page_description = 'Fields marked with "*" are required.' %}

{% block page %}
{{ form.alert() }}
{{ form.alert('info', 'Update success!') }}
<form method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-row mb-3">Skills *</div>

            {% for i in range(0,1) %}
            <div class="form-row d-flex align-items-center copy-skill-row">
                <div class="form-group col-10 col-sm-6">
                    <input type="text" class="form-control" placeholder="Example: Typing" name="candidate[skillSet][]"
                           value="">
                </div>
                <a class="btn btn-sm mb-3 remove-skill"><i class="fas fa-minus-circle"></i></a>
            </div>
            {% endfor %}
            <div class="form-row">
                <a class="btn btn-sm" id="addSkill"><i class="fas fa-plus-circle"></i> Add Skill</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>
    </div>
</form>
{% endblock %}