{% import 'macros/button.html' as btn %}
{% import 'macros/form.html' as form %}

{% set active_menu_item = 'settings' %}

{% extends "layouts/candidate-base.html" %}

{% block js %}{% endblock %}

{% set page_title = 'Change Password' %}
{% set page_description = 'Fields marked with "*" are required.' %}

{% block page %}
{{ form.alert() }}
{{ form.alert('info', 'Update success!') }}
<form method="post">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Display Info</h5>
            <div class="form-group row">
                <label for="oldPassword" class="col-sm-4 col-form-label">Old Password *</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" maxlength="12" id="oldPassword" required autofocus
                           value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="newPassword" class="col-sm-4 col-form-label">New Password *</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" maxlength="12" id="newPassword" required
                           autocomplete="new-password" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmNewPassword" class="col-sm-4 col-form-label">Confirm New Password *</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" maxlength="12" id="confirmNewPassword" required
                           value="">
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="text-center">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </p>
        </div>
    </div>
</form>
{% endblock %}