{% import 'macros/form.html' as form %}
{% import 'macros/user.html' as user %}

{% extends "layouts/full-page.html" %}

{% set meta_robots = 'noindex,nofollow' %}

{% block page %}
<div class="row mx-1 d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <form action="{{ user.password_recovery_url() }}" method="post" autocomplete="off">
                <h4 class="mb-4">Recover Password</h4>
                {{ form.alert() }}
                {{ form.alert('info', 'Update success!') }}
                <p class="card-text">
                    If you are register with us using your social account, please visit the service and try log in
                    again.
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           maxlength="100" name="" required>
                    <small id="emailHelp" class="form-text text-muted">Your Email must be the same as the one you used
                        to registered yourself with us.</small>
                </div>
                </p>
                <button type="submit" class="btn btn-primary">Send reset password email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
