{% import 'macros/form.html' as form %}

{% extends "layouts/full-page.html" %}

{% set meta_robots = 'noindex,nofollow' %}

{% block page %}
<div class="row mx-1 d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h4 class="mb-4">Reset Password</h4>
            {{ form.alert() }}
            {{ form.alert('info', 'Update success!') }}
            <p class="card-text">
                If you are register with us using your social account, please visit the service and try log in again.
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                       maxlength="100" name="new_password" required>
                <small id="passwordHelp" class="form-text text-muted">Your new password must contain Uppercase
                    characters (A-Z), Lowercase characters (a-z), digits (0-9) and at least one special
                    characters.</small>
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordHelp"
                       maxlength="100" name="confirm_password" required>
                <small id="confirmPasswordHelp" class="form-text text-muted">Please enter the new password
                    again.</small>
            </div>
            </p>
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </div>
</div>
{% endblock %}
