.carousel-caption {
  top: 5rem;
  /*bottom: 15rem;*/
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-caption h5 {
  font-size: 63px;
}

.carousel-caption p {
  font-size: 20px;
}

@media (min-width: 40em) {
  .carousel {
    min-height: 300px;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }
}