header {
  .with-alert{
      margin-top: 38px;
    }
  #main {
    
    background-color: $navBgColor;
    
    @media (min-width: 40em) {
       height: 73px;
    }
    .container-fluid {
      max-width: 1320px;
      width: 100%;
      padding-right: var(--bs-gutter-x,.75rem);
      padding-left: var(--bs-gutter-x,.75rem);
      margin-right: auto;
      margin-left: auto;

      .profile-nav a.active {
        background-color: $profileNavActiveColor;
      }
      
      .nav-link {
        color: $navFontColor;
      }
      #navbarSupportedContent{
        margin-left: 20px;
        .navbar-nav{
          margin-right: 60px;
          li {
            margin-right: 7px;
          }
        }
        .navbar-text{
          @media (min-width: 40em) {
            margin-left: 40px;
          }
          a {
            margin-right: 40px;
            color: $bigBtnBgColor;
            text-decoration: none;
          }
          .btn-post-job {
            background-color: $navBgColor;
            border-color: $bigBtnBgColor;
            border: 2px solid $bigBtnBgColor;
            border-radius: 0;
          }
          .btn-post-job:hover{
            color: $navBgColor;
            background-color: $bigBtnBgColor;
          }
        }
      }
      .navbar-toggler, .high-light {
          color: $navHighlightFontColor;
      }

      
      
      .btn-secondary:not(:disabled):not(.disabled).active,
      .btn-secondary:not(:disabled):not(.disabled):active,
      .show > .btn-secondary.dropdown-toggle {
        color: $bigBtnFontColor;
        background-color: $bigBtnBgColor;
        border-color: $bigBtnBgColor;
      }

      .btn-primary {
        background-color: $bigBtnBgColor;
        border-color: $bigBtnBgColor;
        color: $bigBtnFontColor;
      }

      @media (min-width: 30em) {
        .main-logo img {
          max-width: 124px;
          max-height: 25px;
        }
      }

      @media (min-width: 40em) {
        .main-logo img {
          max-width: 182px;
          max-height: 37px;
        }
      }
      .language-picker { 
        @media (min-width: 40em) {
          margin-left: 200px;
        }
        @media (min-width: 30em) {
          margin-bottom: 15px;
        }
        button {
          background: url("../img/about/main/icon-material-language@2x.png") right center no-repeat; 
          background-size: 20px 20px;
          height: 24px;
          border: none;
        }
        .dropdown-toggle::after {
          content: none;
        }
        .dropdown-toggle::focus {
          box-shadow: none;
        }
        .dropdown-item-checked::before {
          position: absolute;
          right: 20px;
          content: '✓';
          font-weight: 900;
        }
        @media (min-width: 40em) {
        .dropdown-menu {
          width: 150px;
          margin-top: 24px;
          border: none;
        }
      }
        
      }
      
    }
    
  }

}
