/**
https://coolors.co/4c4d4f-14342b-e7e63c-d5ebdc-ffffff
https://coolors.co/4c4d4f-14342b-e7e63c-bbdfc5-ffffff
https://coolors.co/4c4d4f-14342b-e7e63c-e2f3e8-ffffff
https://coolors.co/4c4d4f-14342b-e7e63c-fdfded-ffffff
 */
$prime1: #E7E63C; /* yellow */
$prime2: #222E3C; /* grey */
$prime3: #FFFFFF; /* white */
$prime4: #14342B; /* dark green */
$prime5: #FDFDED; /* ivory */
$prime6: #000;
$alertColor: #E91421;

$navFontColor: $prime3;
$navHighlightFontColor: $prime1;
$navBgColor: $prime2;

$profileNavActiveColor: $prime1;

$bigBtnFontColor: $prime2;
$bigBtnBgColor: $prime3;

$dropdownMenuBgColor: $prime3;

$bgColor: $prime3;
$fontColor: $prime4;
$cardTextColor: $prime2;
$linkColor: $prime2;
$btnPrimaryColor: $prime4;
$btnSecondaryColor: $prime2;

$modalHeaderBgColor: $prime1;

$newsletterSubscriptionBgColor: $prime1;

$sitemapBgColor: $prime2;
$sitemapFontColor: $prime5;
/*$sitemapHeaderColor: $prime1;*/
$sitemapHeaderColor: $prime3;
$sitemapLinkColor: $prime5;
$sitemapFooterText: $prime3;

$footerBgColor: $prime2;
$footerFontColor: $prime3;