@import "var";
@import "nav";
@import "content";
@import "carousel";
@import "landingpage";

body {
  background-color: $bgColor;
  color: $fontColor;

  .alert {
    background-color: $alertColor;
    top: 0px;
    height: 38px;
    position: fixed;
    z-index: 100; 
    width: 100%; 
    text-align: center;
    color: $bigBtnBgColor;
    padding: 4px;
    border-radius: 0;
  }

  a, a:hover {
    color: $linkColor;
  }

  .main-logo img {
    vertical-align: unset;
  }

  .modal-header {
    background-color: $modalHeaderBgColor;
  }

  .social-buttons i, .social-buttons a {
    color: $prime1;
    font-size: 22px;
    margin-right: 5px;
  }

  .footer {
    background-color: $footerBgColor;
    font-size: smaller;
  }

  .footer > .container {
    color: $footerFontColor;
  }

  .footer a {
    color: $footerFontColor;
  }

  #newsletterSubscription {
    background-color: $newsletterSubscriptionBgColor;
  }

  .sitemap {
    background-color: $sitemapBgColor;
    color: $sitemapFontColor;
    font-size: smaller;
  }

  .sitemap h6 {
    color: $sitemapHeaderColor;
    //text-transform: capitalize;
  }

  .sitemap a {
    color: $sitemapLinkColor;
  }

  code {
    font-size: 80%;
  }

  .btn-primary {
    background-color: $btnPrimaryColor;
    border-color: $btnPrimaryColor;
    font-size: smaller;
  }

  .btn-primary:hover {
    background-color: $btnSecondaryColor;
  }

  .btn-primary:disabled {
    background-color: $btnSecondaryColor;
    border-color: $btnSecondaryColor;
  }

  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $dropdownMenuBgColor;
    background-color: $btnSecondaryColor;
    border-color: $btnSecondaryColor;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: $dropdownMenuBgColor;
    text-decoration: none;
    background-color: $btnSecondaryColor;
  }

  .btn-facebook {
    background-color: #3b5998;
  }

  .card-text {
    color: $cardTextColor;
  }
  footer {
      margin-top: auto;
  }
  .job-location {
    top: 6722px;
    .title {
      left: 352px;
      width: 110px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 956px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .job-skills {
    top: 6806px;
    .title {
      left: 352px;
      //width: 79px;
      width:105px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 917px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .international-jobs {
    top: 6890px;
    .title {
      left: 352px;
      width: 105px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 917px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .border1 {
    top: 7017px;
    left: 349px;
    width: 100%;//1229px;
    height: 0px;
    border: 1px solid #FFFFFF;
  }
  .bottom-section {
    top: 7094px;
    .footleft-text {
      left: 352px;
      width: 348px;
      height: 30px;
    }
    .footer-about {
      p:first-child {
        top: 7094px;
        left: 814px;
        width: 35px;
        height: 15px;
      }
      p {
        left: 814px;
        width: 78px;//71?
        height: 14px;
      }
      p:nth-child(1) {
        top: 7133px;
      }
      p:nth-child(2) {
        top: 7159px;
      }
      p:nth-child(3) {
        top: 7185px;
      }
      p:nth-child(4) {
        top: 7211px;
      }
    }
  }
}


/*main > .container {
  font-size: smaller;
}*/

