@import "var";
@import "nav";
@import "content";
@import "carousel";

body {
  background-color: $bgColor;
  color: $fontColor;

  .alert {
    background-color: $alertColor;
    top: 0px;
    height: 38px;
    position: fixed;
    z-index: 100; 
    width: 100%; 
    text-align: center;
    color: $bigBtnBgColor;
    padding: 4px;
    border-radius: 0;
  }

  a, a:hover {
    color: $linkColor;
  }

  .main-logo img {
    vertical-align: unset;
  }

  .modal-header {
    background-color: $modalHeaderBgColor;
  }

  .social-buttons i, .social-buttons a {
    color: $prime6;
    font-size: 22px;
    margin-right: 5px;
  }
.social-buttons .circle{
	border-radius: 50%;
    //padding: 5px;
	// margin: 0.15em;
	// font-size: 3em;
}
.fa-facebook {
	background: $prime3;
	color: $prime6;
    padding: .15em .35em;
}
.fa-instagram, .fa-twitter, .fa-linkedin-square {
	background: $prime3;
	color: $prime6;
    padding: 0.15em .2em !important;
}
  .footer {
    background-color: $footerBgColor;
    font-size: smaller;
  }

  .footer > .container {
    color: $footerFontColor;
  }

  .footer a {
    color: $footerFontColor;
  }

  #newsletterSubscription {
    background-color: $newsletterSubscriptionBgColor;
  }

  .sitemap {
    background-color: $sitemapBgColor;
    color: $sitemapFontColor;
    font-size: smaller;
  }

  .sitemap h6 {
    color: $sitemapHeaderColor;
    /*text-transform: capitalize;*/
    font-family: 'made-tommy-regular, serif';
    font-size: 14px;
  }

  .sitemap a {
    color: $sitemapLinkColor;
    text-decoration: none;
  }
  .sitemap .footer-text {
      color: $sitemapFooterText;
      font-family: 'made-tommy-regular, serif';
      font-size: 14px;
  }
  .sitemap hr {
      opacity: 1;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .footer hr {
    opacity: 1;
    //margin-top: 50px;
  }
  .footer .term-policy a {
    text-decoration: none;
  }
  .sitemap .leftside-text {
      font-family: 'made-tommy-regular, serif';
      font-size: 12px;
  }
  code {
    font-size: 80%;
  }

  .btn-primary {
    background-color: $btnPrimaryColor;
    border-color: $btnPrimaryColor;
    font-size: smaller;
  }

  .btn-primary:hover {
    background-color: $btnSecondaryColor;
  }

  .btn-primary:disabled {
    background-color: $btnSecondaryColor;
    border-color: $btnSecondaryColor;
  }

  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $dropdownMenuBgColor;
    background-color: $btnSecondaryColor;
    border-color: $btnSecondaryColor;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: $dropdownMenuBgColor;
    text-decoration: none;
    background-color: $btnSecondaryColor;
  }

  .btn-facebook {
    background-color: #3b5998;
  }

  .card-text {
    color: $cardTextColor;
  }
  footer{
      margin-top: auto;
      .job-skills {
          padding : 30px 0 30px 0;
      }
  }

  .job-description  {
     .ui-ux-designer {
         font-family: 'made-tommy-regular, serif';
         font-size: 2.5em;
     }
     .petronas-icon {
         width: 80px;
         height: auto;
     }
     .location-icon {
         width: 15px;
         height: auto;
     }
     .btn-full-time {
         width: 100%;
         background-color: #007bff;
         border-color: #007bff;
         color: #fff;
     }
     .group-btn button {
         width: 24.7%;
         text-transform: uppercase;
     }
     .group-btn button span {
         padding-left: 5px;
     }
     .require-scope {
        background-color: #fff;
        padding: 50px;
        .sub-title {
            font-weight: 600;
            font-size: 20px;
        }
     }
  }
    @font-face {
        font-family: 'made-tommy-regular';
        src: url('./fonts/MADE TOMMY Regular.otf') format('otf');
        font-style: normal;
    }
    @font-face {
        font-family: 'made-tommy-medium';
        src: url('../fonts/MADE TOMMY Medium.otf') format('otf');
        font-style: normal;
    }
}


/*main > .container {
  font-size: smaller;
}*/