{% macro my_application_url() %}{{ 'my-application-job-sent.html' }}{% endmacro %}

{% macro my_job_sent_url() %}{{ 'my-application-job-sent.html' }}{% endmacro %}

{% macro my_job_rejected_url() %}{{ 'my-application-job-rejected.html' }}{% endmacro %}

{% macro my_job_saved_url() %}{{ 'my-application-saved-jobs.html' }}{% endmacro %}

{% macro my_profile_overview_url() %}{{ 'my-profile-about.html' }}{% endmacro %}

{% macro my_profile_experience_url() %}{{ 'my-profile-experience.html' }}{% endmacro %}

{% macro my_profile_education_url() %}{{ 'my-profile-education.html' }}{% endmacro %}

{% macro my_profile_skill_url() %}{{ 'my-profile-skill.html' }}{% endmacro %}

{% macro my_profile_language_url() %}{{ 'my-profile-language.html' }}{% endmacro %}

{% macro my_profile_info_url() %}{{ 'my-profile-info.html' }}{% endmacro %}

{% macro my_profile_about_url() %}{{ 'my-profile-about.html' }}{% endmacro %}

{% macro my_profile_avatar_url() %}{{ 'my-profile-avatar.html' }}{% endmacro %}

{% macro my_profile_resume_url() %}{{ 'my-profile-resume.html' }}{% endmacro %}