{% macro company_name() %}{{ 'Job Majestic Sdn. Bhd.' }}{% endmacro %}

{% macro home_url() %}{{ 'index.html' }}{% endmacro %}

{% macro about_url() %}{{ 'about.html' }}{% endmacro %}

{% macro terms_url() %}{{ 'terms-of-use.html' }}{% endmacro %}

{% macro privacy_url() %}{{ 'privacy-policy.html' }}{% endmacro %}

{% macro post_job_url() %}{{ 'https://uat.bossmajestic.com' }}{% endmacro %}

{% macro job_search_url() %}{{ 'job-search.html' }}{% endmacro %}

{% macro company_search_url() %}{{ 'company-search.html' }}{% endmacro %}

{% macro company_landing_url() %}{{ 'company-landing.html' }}{% endmacro %}

{% macro blog_url() %}{{ 'https://blog.jobmajestic.com' }}{% endmacro %}

{% macro job_type_url(type = 'fulltime') %}{{ 'job-search.html?type=' ~ type }}{% endmacro %}

{% macro job_category_url(cat = 'admin') %}{{ 'job-search.html?cat=' ~ cat }}{% endmacro %}

{% macro job_landing_url() %}{{ 'company-job-landing.html' }}{% endmacro %}

{% macro facebook_url() %}{{ 'https://www.facebook.com/JobMajestic' }}{% endmacro %}

{% macro instagram_url() %}{{ ' https://www.instagram.com/job_majestic/' }}{% endmacro %}

{% macro youtube_url() %}{{ 'https://www.youtube.com/channel/UCW3JIcYIP31LdraciX4rvbg?view_as=subscriber' }}{% endmacro %}

{% macro linkedin_url() %}{{ 'https://www.linkedin.com/in/job-majestic/' }}{% endmacro %}

{% macro tiktok_url() %}{{ 'https://www.tiktok.com/@job_majestic' }}{% endmacro %}

{% macro whatsapp_url() %}{{ 'https://wa.me/message/TQCRJOSJY3O2O1' }}{% endmacro %}

{% macro get_touch() %}{{ 'Get in touch with us' }}{% endmacro %}
