{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% import 'macros/user.html' as user %}
{% import 'macros/candidate.html' as c %}
{% set extra_class = '' %}
{% if alert %}
    {% set extra_class = 'with-alert' %}
{% endif %}
<div class="container">
    <nav id="main" class="navbar navbar-expand-lg navbar-light fixed-top px-md-5 {{extra_class}}">
        <div class="container-fluid">
            <a class="navbar-brand main-logo" href="{{ s.home_url() }}">
                <img src="{{ f.img('logo/Inverted-Lockup.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-md-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ s.job_search_url() }}">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ s.company_search_url() }}">Company Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ s.blog_url() }}" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ s.about_url() }}">About</a>
                    </li>
                </ul>

    

                <span class="ml-md-auto"></span>

                <div class="language-navbar">
                    {% if is_guest %}
                    <div class="dropdown language-picker">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item dropdown-item-checked" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Chinese</a></li>
                      </ul>
                    </div>
                    {% endif %}
                    <div class="navbar-info">
                        {% if is_guest %}
                        <span class="navbar-text">
                            <a href="{{ s.post_job_url() }}" class="btn btn-post-job mr-3 px-5">Post a job</a>
                            <a href="{{ user.login_url() }}" rel="nofollow" data-toggle="modal"
                                                           data-target="#loginModal">Login</a>
                            <a href="{{ user.signup_url() }}" rel="nofollow" data-toggle="modal" data-target="#signupModal">Sign Up</a>
                        </span>
                        {% else %}
                        
                        <div class="btn-group my-2">
                            <div class="dropdown message-dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="badge">9</span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                {% for i in range(1,6) %}
                                    <li><a class="dropdown-item"><img src="assets/img/landingpage/messenger-persion-icon.png" alt="">
                                        <div class="messenger-name">Messenger's Name</div>
                                        <div class="dot"><span></span></div>
                                        <div class="message-text">latest message - 1w</div>

                                    </a></li>
                                {% endfor %}
                            
                              </ul>
                            </div>
                            <div class="dropdown user-dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/img/about/main/icon-ionic-md-person@2x.png" class="user-rounded" alt="...">Usernames
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item{{ f.if(active_menu == 'dashboard',' active') }}"
                                   href="{{ c.my_application_url() }}"><img src="assets/img/landingpage/person-fill.svg" alt="">My Profile</a></li>
                                <li><a class="dropdown-item{{ f.if(active_menu == 'profile',' active') }}"
                                   href="{{ c.my_profile_overview_url() }}"><img src="assets/img/landingpage/bookmark-fill.svg" alt="">My Resume</a></li>
                                <li><a class="dropdown-item{{ f.if(active_menu == 'save',' active') }}"
                                   href="{{ user.save_url() }}"><img src="assets/img/landingpage/file-earmark-text-fill.svg" alt="">Save</a></li>
                                <li><a class="dropdown-item{{ f.if(active_menu == 'applications',' active') }}"
                                   href="{{ user.applications_url() }}"><img src="assets/img/landingpage/briefcase-fill.svg" alt="">My Applications</a></li>
                                <li><a class="dropdown-item{{ f.if(active_menu == 'settings',' active') }}"
                                   href="{{ user.settings_url() }}"><img src="assets/img/landingpage/gear-fill.svg" alt="">Setting</a></li>
                              </ul>
                            </div>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

{% if is_guest %}
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Candidate Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'partials/_candidate-login-form.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Candidate Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'partials/_candidate-sign-up-form.html' %}
            </div>
        </div>
    </div>
</div>
{% endif %}