{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% set is_guest = true %}
{% set alert = true %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if meta_description %}
    <meta name="description" content="{{ meta_description }}">
    {% endif %}
    {% if meta_keywords %}
    <meta name="keywords" content="{{ meta_keywords }}">
    {% endif %}
    {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}">
    {% endif %}
    {% block meta %}{% endblock %}
    <title>{{ meta_title | default('Jobs in Malaysia - August 2020 | JobMajestic') }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" as="font">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ f.plugin('fontawesome-free-5.14.0-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ f.css('main.min.css') }}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ f.ico('apple-touch-icon-144-precomposed.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ f.ico('apple-touch-icon-114-precomposed.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ f.ico('apple-touch-icon-72-precomposed.png') }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ f.ico('apple-touch-icon-57-precomposed.png') }}"/>
    <link rel="shortcut icon" href="{{ f.ico('favicon.ico') }}"/>
</head>
<body class="d-flex flex-column h-100">
{% if alert %}    
<div class="alert">
    <p>This is an announcement/alert section option 1</p>
</div>
{% endif %}
<header class="mb-1 mb-4 mb-md-5 scroll-base">
    {% include 'layouts/_nav.html' %}
</header>
<main role="main" class="mt-4 py-0 py-md-0">
    {% block content %}{% endblock %}
</main>

<footer>
    {% block sitemap %}
    {% include 'layouts/_newsletter-form.html' %}
    <div class="sitemap py-3 py-md-4">
        <div class="container">
            <div class="row">
                <div class="col-sm col-md-2">
                    <h6>Job by Locations</h6>
                </div>
                <div class="col-sm col-md-10">
                    {% for i in range(1,20) %}
                        {% if i > 1 %} | {% endif %}<a href="#" class="footer-text">{{ 'location' | title }} {{ i }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row job-skills">
                <div class="col-sm col-md-2">
                    <h6>Job by Skills</h6>
                </div>
                <div class="col-sm col-md-10">
                    {% for i in range(1,20) %}
                        {% if i > 1 %} | {% endif %}<a href="#" class="footer-text">{{ 'job name' | title }} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm col-md-2">
                    <h6>International Jobs</h6>
                </div>
                <div class="col-sm col-md-10">
                    {% for i in range(1,20) %}
                        {% if i > 1 %} | {% endif %}<a href="#" class="footer-text">{{ 'job name' | title }} </a>
                    {% endfor %}
                </div>
            </div>
            <hr class="color color-white">
            <div class="row">
                <div class="col-sm col-md-3 leftside-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="col-sm col-md-3">
                    <div class="row  d-flex justify-content-start">About</div>
                    <div class="row  d-flex justify-content-start">Lorem Ipsum</div>
                    <div class="row  d-flex justify-content-start">Lorem Ipsum</div>
                    <div class="row  d-flex justify-content-start">Lorem Ipsum</div>
                    <div class="row  d-flex justify-content-start">Lorem Ipsum</div>
                </div>
                <div class="col-sm col-md-3">
                    <div class="row">Lorem</div>
                    <div class="row">Lorem Ipsum</div>
                    <div class="row">Lorem Ipsum</div>
                    <div class="row">Lorem Ipsum</div>
                    <div class="row">Lorem Ipsum</div>
                </div>
                <div class="col-sm col-md-3">
                    <div class="row">Contact</div>
                    <div class="row"><i class="fa fa-phone" aria-hidden="true"></i>+[61] 2654 8452</div>
                    <div class="row"><i class="fa fa-envelope" aria-hidden="true">Lorem Ipsum</i></div>
                    <div class="row">Lorem Ipsum dollar</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="footer py-3">
        <div class="container">
            <hr class="color color-white">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-start">Lorem ipsum dolor sit amet,</div>
                <div class="col-md-4 d-flex justify-content-center">
                    <p class="social-buttons">
                        <a href="{{ s.facebook_url() }}"
                           target="_blank"><i class="fa fa-facebook circle"></i></a>
                        <a href="{{ s.instagram_url() }}"
                           target="_blank"><i class="fa fa-instagram circle"></i></a>
                        <a href="{{ s.linkedin_url() }}"
                           target="_blank"><i class="fa fa-linkedin-square circle"></i></a>
                        <a href="{{ s.tiktok_url() }}"
                           target="_blank"><i class="fa fa-twitter circle"></i></a>
                    </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end term-policy">
                    <a href="{{ s.privacy_url() }}" class="mr-3">Privacy Policy</a>&nbsp;&nbsp;
                    <a href="{{ s.terms_url() }}" class="mr-3">Terms Of Service</a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
{#
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{# f.js('main.min.js') #}
<!-- page specific -->
{# f.scroll() #}
{% if is_guest %}
<script src="{{ f.js('password-toggle.min.js') }}"></script>
<script src="{{ f.js('guest.min.js') }}"></script>
{% endif %}
{% block js %}{% endblock %}
<!-- page specific end -->
</body>
</html>